# CMake build directories
cmake-build-*/
build/
out/


# CLion IDE
.idea/

# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app
Small_Town_Check

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeLists.txt

# MacOS files
.DS_Store